<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXKLine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>185766B51BDF46FC00DF4BD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185766D11BDF46FD00DF4BD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185766DC1BDF46FD00DF4BD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
